/* HTML and Body area */
html {
    height: 100%;

    background-color: black;
}

body {
    display: flex;
    height: 100%;
    flex-direction: column;
    margin: 0px;

    background-color: lightgray;
}

/* Header/navigation area */
#header-nav-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: rgb(37, 87, 153);
    border: 1;
    box-shadow: 0 4px 8px rgba(37, 87, 153, 0.75);
}

#header-nav-area p {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 8px;

    color: rgb(255, 255, 255);
    font-size: 32px;
}

#tabs-nav-bar {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 8px;

    color: black;
    font-size: 32px;
}

#tabs-nav-bar #home a {
    text-decoration: none;
    color: white;
}

#tabs-nav-bar #events a {
    text-decoration: none;
    color: white;
}

#tabs-nav-bar #about a {
    text-decoration: underline;
    color: white;
}

/* Hero area */
#about-us-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 16px;
    

    font-size: 128px;
    color: black;
}

#goal-paragraph {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 16px;
    text-align: center;

    font-size: 32px;
    color: black;
}