/* HTML and Body area */
html {
    min-height: 100%;

    background-color: black;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100vh;

    background-color: white;
}

/* Nav bar area */
#tabs-nav-bar #home a {
    text-decoration: none;
    color: white;
}

#tabs-nav-bar #events a {
    text-decoration: none;
    color: white;
}

#tabs-nav-bar #about a {
    text-decoration: underline;
    color: white;
}

/* Hero area */
#about-us-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 16px;

    font-size: 128px;
    color: rgb(254, 204, 7);
}

#goal-paragraph {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    margin: 16px auto;
    text-align: center;

    font-size: 32px;
    color: rgb(37, 87, 153);
}