/* HTML and Body area */
html {
    min-height: 100%;

    background-color: black;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100vh;

    background-color: white;
}



/* Hero area */
#about-us-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 16px;

    font-size: 128px;
    color: black;
}

#goal-paragraph {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 16px;
    text-align: center;

    font-size: 32px;
    color: black;
}