#open-street-map {
    height: 80vh;
    width: 80%;
    border-radius: 10px;
    margin: 32px;
    box-shadow: 0 4px 8px rgba(136, 136, 136, 0.75);
}

@media (max-width: 600px) {
  #open-street-map {
    width: 90%;
    height: 300px;
  }
}


.leaflet-container img {
    max-width: none !important;
    max-height: none !important;
    width: auto !important;
    height: auto !important;
    box-shadow: none;
}