/* HTML and Body area */
html {
    height: 100%;
    background-color: black;
}

body {
    display: flex;
    height: 100%;
    flex-direction: column;
    margin: 0px;
    background-color: lightgray;
}

/* Header/navigation area */
#header-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: whitesmoke;
}

#header-area p {
    color: black;
}

/* Hero area */
h1{
    font-size: 70px;
    color: white
}

/* Main content area(where events show up) */
    /* Buttons sub-area(social, proffesional */
    p {
        color: white;
    }

    /* Events sub-area */

/* Footer area */