/* HTML and Body area */
html {
    min-height: 100%;

    background-color: black;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100vh;

    background-color: white;
}


/* Hero area */
#hero-area {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* gap: 10vh; */
    padding: 2rem;
    text-align: center;
    min-height: 90vh;

    background: linear-gradient(to bottom, rgba(0,0,0,0) 70%, rgb(255, 255, 255)), url("../images/aldrich-park-2.jpg") center/cover no-repeat;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
}

 @media (max-width: 480px) {
    #hero-area {
        gap: 5vh;
        padding: 1rem
    }
 }

#antlas-title {
    display: flex;
    flex-direction: row;
    margin: 32px;
    font-family: "Poppins", sans-serif;
    line-height: 1;

    background: rgba(0, 131, 190, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);

    font-size: clamp(3rem, 10vw, 10rem);
    color: rgba(254, 204, 7);

    padding: 16px 32px 16px 32px;
}

    /* Jump animation for Antlas title */
    #antlas-title span {
        display: inline-block;
        animation: jump 0.5s ease-in-out 1;
    }

    @keyframes jump {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-24px);
        }
    }

    #antlas-title span:nth-child(1) {animation-delay: 0.15s; }
    #antlas-title span:nth-child(2) {animation-delay: .30s; }
    #antlas-title span:nth-child(3) {animation-delay: 0.45s; }
    #antlas-title span:nth-child(4) {animation-delay: 0.60s; }
    #antlas-title span:nth-child(5) {animation-delay: 0.75s; }
    #antlas-title span:nth-child(6) {animation-delay: 0.90s; }

    @media (max-width: 480px) {
        #antlas-title {
            font-size: clamp(2rem, 12vw, 5rem);
        }
    }

/* Main content area(where events show up) */
#main-content-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

    /* Buttons sub-area(social/fun, educational, fitness, general) */
    #button-sub-area {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 25%;
        max-width: 600px;
        margin: 2rem auto 0 auto;
        border-radius: 32px;
        margin-top: 48px;
        
        background-color: rgb(0, 34, 68);
        box-shadow: 0 4px 8px rgba(37, 87, 153, 0.75);
    }

    #button-sub-area button {
        font-size: clamp(1rem, 2vw, 2rem);
        padding: 0.5rem 1rem;
        margin: 16px;

        background-color: rgb(37, 87, 153);
        box-shadow: 0 4px 8px rgba(14, 4, 105, 0.75);
        border: none;
        border-radius: 8px;
        font-family: "Poppins", sans-serif;

        transition: background-color 0.3s ease;
    }

        @media (max-width: 480px) {
            #button-sub-area {
                flex-direction: column;
                width: 80%;
            }

            #button-sub-area button {
                width: 100%;
                margin: 8px 0;
            }
        }

    #button-sub-area button:hover {
        background-color: rgb(0, 131, 190);
    }

/* Open Street Map(On sperate css file) */

/* Create event form text box area */
#input-box-area {
    margin: 32px auto 24px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 24px;

    background-color: rgb(0, 34, 68);
    border-top: 2px solid white;
}

#input-box-area div {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    max-width: 800px;
}

#input-box-area input {
    resize: none;
    height: 40px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    outline: none;
    transition: border 0.2s ease;
}

#input-box-area input:focus {
    border-color: rgb(37, 87, 153);
}

#input-box-area button {
    padding: 10px 15px;
    border: none;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;

    color: white;
    background-color: rgb(37, 87, 153);
    transition: background-color 0.2s ease;
    box-shadow: 0 4px 8px rgba(37, 87, 153, 0.75);
}

#input-box-area button:hover {
    background-color: rgb(0, 131, 190);
}