/* HTML and Body area */
html {
    height: 100%;

    background-color: black;
}

body {
    display: flex;
    height: 100%;
    flex-direction: column;
    margin: 0px;

    background-color: white;
}

/* Header/navigation area */
#header-nav-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: rgb(37, 87, 153);
    border: 1;
    box-shadow: 0 4px 8px rgba(37, 87, 153, 0.75);
}

#header-nav-area p {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 8px;

    color: rgb(255, 255, 255);
    font-size: 32px;
}

#tabs-nav-bar {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 8px;

    color: black;
    font-size: 32px;
}

#tabs-nav-bar #home a {
    text-decoration: underline;
    color: white;
}

#tabs-nav-bar #events a {
    text-decoration: none;
    color: white;
}

#tabs-nav-bar #about a {
    text-decoration: none;
    color: white;
}

/* Hero area */
#hero-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 208px;

    background: linear-gradient(to bottom, rgba(0,0,0,0) 70%, rgb(255, 255, 255)), url("../images/temp_park_img.jpeg") center/cover no-repeat;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
}

#antlas-title {
    display: flex;
    flex-direction: row;
    margin: 64px;
    font-family: "Poppins", sans-serif;
    line-height: 1;

    background: rgba(0, 131, 190, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);

    font-size: 150px;
    color: rgba(254, 204, 7);

    padding: 16px 32px 16px 32px;
}

    /* Jump animation for Antlas title */
    #antlas-title span {
        display: inline-block;
        animation: jump 0.5s ease-in-out 1;
    }

    @keyframes jump {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-24px);
        }
    }

    #antlas-title span:nth-child(1) {animation-delay: 0.15s; }
    #antlas-title span:nth-child(2) {animation-delay: .30s; }
    #antlas-title span:nth-child(3) {animation-delay: 0.45s; }
    #antlas-title span:nth-child(4) {animation-delay: 0.60s; }
    #antlas-title span:nth-child(5) {animation-delay: 0.75s; }
    #antlas-title span:nth-child(6) {animation-delay: 0.90s; }


#create-event-button {
    /* Format later */
}

#create-event-button-area button {
    font-size: 72px;
    margin: 8px;
    margin-bottom: 36px;

    background-color: rgb(37, 87, 153);
    border: none;
    border-radius: 8px;

    transition: background-color 0.3s ease; 
}

#create-event-button-area button:hover {
    background-color: rgb(0, 131, 190);
}

/* Main content area(where events show up) */
#main-content-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

    /* Buttons sub-area(social/fun, educational, fitness, general) */
    #button-sub-area {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 60%;
        border-radius: 32px;
        margin-top: 48px;
        
        background-color: rgb(0, 34, 68);
    }

    #button-sub-area button {
        font-size: 36px;
        margin: 16px;

        background-color: rgb(37, 87, 153);
        border: none;
        border-radius: 8px;

        transition: background-color 0.3s ease; 
    }

    #button-sub-area button:hover {
        background-color: rgb(0, 131, 190);
    }

    /* Events sub-area */

/* Footer area */