/* HTML and Body area */
html {
    height: 100%;

    background-color: black;
}

body {
    display: flex;
    height: 100%;
    flex-direction: column;
    margin: 0px;

    background-color: whitesmoke;
}

/* Header/navigation area */
#header-nav-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: rgb(37, 87, 153);
    border: 1;
    box-shadow: 0 4px 8px rgba(37, 87, 153, 0.75);
}

#header-nav-area p {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 8px;

    color: rgb(255, 255, 255);
    font-size: 32px;
}

#tabs-nav-bar {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 8px;

    color: black;
    font-size: 32px;
}

#tabs-nav-bar #home a {
    text-decoration: underline;
    color: white;
}

#tabs-nav-bar #events a {
    text-decoration: none;
    color: white;
}

#tabs-nav-bar #about a {
    text-decoration: none;
    color: white;
}

/* Hero area */
#hero-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#antlas-title {
    display: flex;
    flex-direction: row;
    margin: 8px;
    font-family: "Poppins", sans-serif;

    font-size: 150px;
    color: rgba(254, 204, 7);
}

#create-event-button {
    
}

#create-event-button-area button {
    font-size: 72px;
    margin: 8px;

    background-color: rgb(63, 165, 53);
    border: none;
    border-radius: 8px;

    transition: background-color 0.3s ease; 
}

#create-event-button-area button:hover {
    background-color: rgb(122, 184, 0);
}

/* Main content area(where events show up) */
#main-content-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

    /* Buttons sub-area(social/fun, educational, fitness, general) */
    #button-sub-area {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 85%;
        border-radius: 32px;
        
        background-color: rgb(0, 34, 68);
    }

    #button-sub-area button {
        font-size: 36px;
        margin: 8px;

        background-color: rgb(37, 87, 153);
        border: none;
        border-radius: 8px;

        transition: background-color 0.3s ease; 
    }

    #button-sub-area button:hover {
        background-color: rgb(0, 131, 190);
    }

    /* Events sub-area */

/* Footer area */